.card {
    box-shadow: 0 4px 8px 0 rgba(175, 206, 96, 0.2);
    border-radius: 20px;
    transition: 0.5s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(159, 210, 98, 0.2);
    cursor: no-drop;
}
.container {
    padding: 2px 5px;
  }
.abc{
    display: flex;
    justify-content: center;
    align-items: center;  
}
