body{
    padding: 10px;
}
.main{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:50px;
}
label{
    font-size:35px;
    text-decoration: underline;
    margin-right: 30px;
}
label:hover{
    font-size: 40px;
}
#name{
    margin-left: 30px;
}
select{
    width:100px;
    height:30px;
    border-radius: 15px;
    background-color: rgb(119, 228, 136);
    text-align: center;
}
select:hover{
    box-shadow: 20px 20px 150px 16px rgb(119, 228, 136);
}
#para{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 10px;
}
#image{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 70px;
}

.cimg {
    background-color: rgb(241, 156, 218);
    box-shadow: 20px 24px 18px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    width:400px;
    height:400px;
    border-radius: 15px;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 10px;

  }
  .cimg:hover {
    box-shadow: 0px 5px 18px 10px rgba(30, 139, 255, 0.5);
    cursor: pointer;
}